<h3><%= l(:label_schedules_my) %></h3>

<%
	@date = Date.civil(Date.today.year, Date.today.month, Date.today.day - Date.today.wday)
	@calendar = Redmine::Helpers::Calendar.new(@date, current_language, :week)
	@projects = Project.find(:all, :conditions => Project.allowed_to_condition(User.current, :view_schedules))
	
	common_restrictions = "(date BETWEEN '#{@calendar.startdt}' AND '#{@calendar.enddt}')"
	common_restrictions << " AND user_id = #{User.current.id}"
	schedule_restrictions = " AND project_id IN ("+@projects.collect {|project| project.id.to_s }.join(',')+")"
	
	@entries = ScheduleEntry.find(:all, :conditions => common_restrictions + schedule_restrictions)
%>

<%= render :partial => 'schedules/calendar', :locals => {:calendar => @calendar } %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'schedules', :plugin => 'redmine_schedules' %>
<% end %>