<%
	# This partial might be removed as it's going fairly unused in my
	# primary test environment. I'm keeping it around for the mean time,
	# but it probably won't last another version or two.
%>
<table class="cal schedule_entry_grid">
	<tr>
		<td></td>
		<% @projects.each do |project| %>
			<th><%= project.to_s %></th>
		<% end %>	
	</tr>
	<% @users.each do |user| %>
		<tr>
			<th><%= user.to_s %></th>
			<% @projects.each do |project| %>
				<td>
					<%
						schedule_entry = ScheduleEntry.find(:first, :conditions => ["project_id=? AND user_id=? AND date=?", project.id, user.id, @date])
						if (schedule_entry.nil?)
							schedule_entry = ScheduleEntry.new
							schedule_entry.project_id = project.id
							schedule_entry.user_id = user.id
							schedule_entry.date = @date
						end
					%>
					
					<%	if user.member_of?(project)
							if User.current.allowed_to?(:edit_all_schedules, project) || (User.current == user && User.current.allowed_to?(:edit_own_schedules, project)) %>
								<%= text_field "schedule_entry", "hours", "size" => 3, "name" => schedule_entry.form_id, "id" => schedule_entry.form_id, "value" => schedule_entry.hours %>
					<%		else %>
								<%= %Q{<input type="text" size="3" disabled="disabled" value="#{schedule_entry.hours}" />} %>
					<%		end
						else %>
								---
					<%	end %>
				</td>
			<% end %>
		</tr>
	<% end %>	
</table>